<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Ajith Kallur</title>
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="favicon.ico">
</head>
<body>
  <div class="top-container">
    <img class="top-cloud" src="images/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>Professional Experience</h1>
    <img class="bottom-cloud11" src="images/cloud.png" alt="cloud">
    <img class="mountain" src="images/mountain.png" alt="mountain-img">
  </div>
  <div class="middle-container">
    <div class="skills">
      <h2>My Experience</h2>
      <div class="skill-row">
      <table class = "table">
        <thead>
          <tr>
            <th class = "tablehead">Dates</th>
            <th class = "tablehead">Work Experience</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>2017-Present</td>
          <td>Quality Assurance Engineer at EY</td>
        </tr>
        <tr>
          <td>2017-2017</td>
          <td>Programmer Analyst at Walmart</td>
        </tr>
        <tr>
          <td>2017-2017</td>
          <td>Software Developer at Cerner Corporation</td>
        </tr>
        <tr>
          <td>2016-2016</td>
          <td>Software Developer intern at Quickenloans</td>
        </tr>
        <tr>
          <td>2015-2016</td>
          <td>Software Developer intern at Collabworkx</td>
        </tr>
        <tr>
        <td>2013-2014</td>
        <td>Assistant System engineer at Tata Consultancy Services</td>
      </tr>
        </tbody>
      </table>
      </div>
    </div>
    <a class="btn" href="./index.html">BACK TO HOME PAGE</a>
  </div>
  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/ajith-kallur-a17a59182/">LinkedIn</a>
    <a class="footer-link" href="https://ajithkalllur.weebly.com/">Website</a>
    <p class ="copyright">© 2018 Ajith Kallur.</p>
  </div>
</body>
</html>
