<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Ajith Kallur</title>
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="favicon.ico">
</head>
<body>
  <div class="top-container">
    <img class="top-cloud" src="images/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>My Skills</h1>
    <img class="bottom-cloud11" src="images/cloud.png" alt="cloud">
    <img class="mountain" src="images/mountain.png" alt="mountain-img">
  </div>
  <div class="middle-container">
    <div class="skills">
      <h2>Programming Languages and frameworks</h2>
      <div class="skill-row">
        <table class = "table">
          <thead>
            <th class = "tablehead">Skill</th>
             <th class = "tablehead">Rating</th>
          </thead>
          <tr>
            <td>Software Testing</td>
            <td>⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>Selenium (Java)</td>
            <td>⭐⭐</td>
          </tr>
          <tr>
            <td>Full Stack web developement</td>
            <td>⭐⭐⭐</td>
          </tr>
          <tr>
            <td>OOPS and SOLID principles</td>
            <td>⭐⭐⭐</td>
          </tr>
          <tr>
            <td>Datastructures,algoritms and problem solving</td>
            <td>⭐⭐⭐</td>
          </tr>
          <tr>
            <td>C#</td>
            <td>⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>Restful API development</td>
            <td>⭐⭐⭐</td>
          </tr>
          <tr>
            <td>C++</td>
            <td>⭐⭐</td>
          </tr>
          <tr>
            <td>Design Patterns</td>
            <td>⭐⭐</td>
          </tr>
        </table>
      </div>
    </div>
    <a class="btn" href="./index.html">BACK TO HOME PAGE</a>
  </div>
  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/ajith-kallur-a17a59182/">LinkedIn</a>
    <a class="footer-link" href="https://ajithkalllur.weebly.com/">Website</a>
    <p class ="copyright">© 2018 Ajith Kallur.</p>
  </div>
</body>
</html>
